.weather-quotes-box {
  font-size: 19px;
}

.weather-column {
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
}

.quotes-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quotes-column span:last-child {
  position: relative;
  top: 5px;
}

.weather-quotes-fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 20px;
}
